button{
    height: 30px;
    border-radius: 2px;
    border:0;
    color:aliceblue;
    
}
.button1{
    background-color: rgb(12, 165, 165);
    
    width: 80px;
}
.button2{
    background-color:rgba(183, 191, 191, 0.793);
    border:0;
}
.btn3{
    background-color:rgb(0, 247, 255);
}